[submodule "website/plugins/ioMenuPlugin"]
	path = website/plugins/ioMenuPlugin
	url = git://github.com/weaverryan/ioMenuPlugin.git
[submodule "website/lib/vendor/zurb_foundation"]
	path = website/lib/vendor/zurb_foundation
	url = git://github.com/zurb/foundation.git
