body {
    background-color: #EAEAEA;
}

.row {
    max-width: 100%;
}

#header {
    background-color: #363636;
    height: 5rem;    
}

#header li, #footer li {
    display: inline;
    padding: 0px 10px;
    vertical-align: middle;
}

#header li {
    height: 5rem;
    line-height: 5rem;
}

#header li.current {
    font-weight: bold;
}

#header a, #footer a {
    color: #fefefe;
    font-size: 1.6rem;
}

#header li:hover {
    background-color: #484848;
}

#header li.current {
    font-weight: bold;
    background-color: #484848;
}

#title {
    padding-top: 10px;
    padding-bottom: 30px;
}

html, body {
height: 100%;
}
#content {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
#footer, .push {
height: 4em;
}

#footer {
    background-color: #AB3B37;
}

#footer li {
    height: 4em;
    line-height: 4em;
    vertical-align: middle;
}



a {
    color: #386398;
}