body {
    background-color: #EAEAEA;
    color:#1d1d1d;
    font-family: Geneva, "Lucida Sans" "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6, .vert-menu li { 
    color: #363636;
    font-family: Georgia, Times, "Times New Roman", serif;

}

.row {
    max-width: 100%;
}

#header {
    background-color: #363636;  
}

#header li, #footer li {
    margin: 0 0.15em;
    padding: 0px 10px;
}

#header li {

    font-size: 1.4em;
    height: 4em;
    line-height: 4em;

}

#header li.current {
    background-color: #484848;
}

#header a, #footer a {
    color: #fefefe;
    text-decoration: none;
}

#header li:hover {
    background-color: #484848;
}


#title {
    padding-top: 10px;
    padding-bottom: 30px;
}

#title img {
    max-width: 200px;
}

html, body {
    height: 100%;
}
#content {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
#footer, .push {
    height: 4em;
}

#footer {
    background-color: #AB3B37;
}

#footer li {
    height: 4em;
    line-height: 4em;
    vertical-align: middle;
    font-size: 1.2em;
}

a {
    color: #AB3B37;
}

table {
    border: none;
    margin: 0px;
}

table tbody tr {
    /*    border-bottom: 2px solid #EAEAEA;*/

}

table tbody tr td {
    padding: 0px 0px;
    vertical-align: middle;
}

table tbody tr:nth-child(even) {
    background-color: #fefefe;
}

.content_title {
    margin-bottom: 20px;
}



.signin_form table {
    margin-bottom: 0px;
    width: auto;
}

.signin_form td a {
    display: block;
    padding: 3px;
}

.signin_form td input[type="submit" ]{
    display: block;
    float:right;
    margin-right: 5px;
}

.box {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 5px;
}

.bigbox,
.sf_apply_notice,
.sf_apply
{
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

#user_settings_form tr {
    border-bottom: 1px dotted #DDD;
    text-align: left;
}

#user_settings_form th {
    width: 20%;    
}

#user_settings_form tr:last-of-type {
    border-bottom: none;    
}

#user_settings_form tr:last-of-type input[type="submit"]{
    margin-top: 10px; 
    margin-bottom: 10px; 
}


#sf_apply_apply_form th {
    width: 20%;
}

.pagination {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}


#indicator
{
    padding-left: 16px;
    background: url(/images/ajax-loader.gif) no-repeat 0px 10px;
}

.vehicle_reports_count {
    padding-left: 5px;
    color: #AB3B37;
    font-size: 0.8em;
    font-weight: bold;
}