body {
    background-color: #EAEAEA;
    color:#1d1d1d;
}

h1, h2, h3, h4, h5, h6 { 
    color: #363636;
}

.row {
    max-width: 100%;
}

#header {
    background-color: #363636;
    height: 4em;    
}

#header li, #footer li {
    display: inline;
    padding: 0px 10px;
    vertical-align: middle;
}

#header li {
    height: 4em;
    line-height: 4em;
}

#header li.current {
    background-color: #484848;
}

#header a, #footer a {
    color: #fefefe;
    font-size: 1.4em;
}

#header li:hover {
    background-color: #484848;
}


#title {
    padding-top: 10px;
    padding-bottom: 30px;
}

#title img {
    max-width: 200px;
}

html, body {
height: 100%;
}
#content {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
#footer, .push {
height: 4em;
}

#footer {
    background-color: #AB3B37;
}

#footer li {
    height: 4em;
    line-height: 4em;
    vertical-align: middle;
}

a {
    color: #AB3B37;
}

table tbody tr {
    border-bottom: 2px solid #EAEAEA;
    
}

table tbody tr:nth-child(even) {
    background-color: #fefefe;
}

.content_title {
    margin-bottom: 20px;
}