/* 
    Document   : menus
    Created on : Nov 4, 2011, 2:28:19 PM
    Author     : Raffaele Bolliger <raffaele.bolliger at gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

ul.hor-menu 
{
    list-style: none;
    padding: 0;
    margin: 0;  
}


ul.hor-menu li
{
    list-style: none;
    float: left;  
    display: inline;
    vertical-align: middle;
}

li.hor-menu.first
{
    padding-left: 1em;
}

li.hor-menu.last
{
    padding-right: 1em;
}

ul.vert-menu 
{
    list-style: none;
    padding: 0;
    margin: 0; 
    background-color: white;
    border: 2px solid #DDD;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


ul.vert-menu li
{
    list-style: none;
    font-size: 1.3em;
    padding-bottom: 0.4em;
    margin: 0;
}