/* 
    Document   : menus
    Created on : Nov 4, 2011, 2:28:19 PM
    Author     : Raffaele Bolliger <raffaele.bolliger at gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

ul.hor-menu 
{
    list-style: none;
    padding: 0;
    margin: 0;  
}


ul.hor-menu li
{
    list-style: none;
    float: left;  
    display: inline;
    vertical-align: middle;
}

li.hor-menu.first
{
    padding-left: 1em;
}

li.hor-menu.last
{
    padding-right: 1em;
}

ul.vert-menu 
{
    list-style: none;
    padding: 0;
    margin: 0; 
    margin-bottom: 25px;
    background-color: white;
    border: 2px solid #DDD;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


ul.vert-menu li,
ul.vert-menu li ul.menu_level_1 li
{
    list-style: none;
    font-size: 1.2em;
    line-height: 26px;
    margin: 0;
    border-bottom: 1px dashed #DDD;
    background: url(/images/menu_icon.png) no-repeat 4px 9px;
    padding-left: 16px;
    color: #222;
    font-weight: normal;
}

ul.vert-menu li a,
ul.vert-menu li ul.menu_level_1 li a
{
    color: #222;
}

ul.vert-menu li a:hover,
ul.vert-menu li ul.menu_level_1 li a:hover
{
    color: #AB3B37;
}

ul.vert-menu li ul.menu_level_1 li
{
    font-size: 0.9em;
}

ul.vert-menu li.last,
ul.vert-menu li ul.menu_level_1 li.last
{
    border-bottom: none;
}

ul.vert-menu li.current,
ul.vert-menu li ul.menu_level_1 li.current
{
    font-weight: bold;
    background: url(/images/menu_icon_current.png) no-repeat 4px 9px;
}
