/* 
    Document   : reports
    Created on : Feb 17, 2012, 11:01:49 PM
    Author     : Raffaele Bolliger <raffaele.bolliger at gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

.report_category_title {
    margin-top: 15px;
}

#report_container {
    margin-bottom: 30px;
}


