/* 
    Document   : vehicle_performances
    Created on : May 17, 2011, 8:45:13 PM
    Author     : Raffaele Bolliger <raffaele.bolliger at gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

div.vehicle_statistics > div.data
{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: 5px;
    padding: 6px;
    text-align: center;
    display: block;
    float: left;
}

div.vehicle_statistics > div.data > div.description
{
    font-size: 1.5em;
}

div.vehicle_statistics > div.data > div.value
{
    font-size: 2.5em;
    font-weight: bold;
}

div.vehicle_statistics > div.data > div.unit
{
    font-size: 1.3em;
}

.end_float
{
    clear: both;
}

